.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding-top: 35px;
  align-items: flex-start;
  background-color: white;
  margin-top: 50px;
}

.navigations {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  justify-content: space-between;
  gap: 5px;
}

.logo {
  margin-left: 25px;
}
