/* LMap.module.css */

.mapContainer {
    position: relative;
    width: 600px;
    height: 500px;
    transition: transform 0.5s ease;
    overflow: hidden;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* По умолчанию свернутое состояние */
.collapsed {
    opacity: 1;
}

/* Развёрнутое состояние (на весь экран) */
.expanded {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 75vh;
    background: white;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
    z-index: 100;
    pointer-events: auto;
}
