.search {
  width: 80vw;
  height: 35px;
  margin-top: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-left: 56px;

}

.searchText {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}
